body {
    background-color: lightcyan;

}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .button {
    background-color: #111;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
  }
  

  li a:hover {
    background-color: #111;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .button2 {
    background-color: #111;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 13px 28px;
  }